<div class="modal-header">
    <h5 class="modal-title">Add a Blog Post Here:</h5>
</div>

<div>

    
    <form>
        <div>
            <label>Title: </label>
            <input name="title" type="text" [(ngModel)]="post.title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
        </div>
        <div>
            <label>Description: </label>
            <textarea name="description" [(ngModel)]="post.description" class="form-control" id="exampleInputPassword1" placeholder="Description">
            </textarea>
        </div>

        <button (click)="addPost()" type="button" class="btn btn-primary">Add</button>
    </form>

</div>
       