<header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                  Home
                </button>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Angular Blog App</h3>
</header>
 
<main role="main">
 
    <div class="jumbotron">
        <h1>Welcome to My Blog!</h1>
        <p>This web page was created for Lab 4 and will allow valid users to add blog posts to the page.</p>
    </div>
 
    <app-show-post></app-show-post>
    <app-add-post (postAdded)="handlePostAdded()"></app-add-post>
    
 
 
</main>
 
<footer class="footer">
    <p>&copy; Neve Hall 2018</p>
</footer>